{% extends 'index.html.twig' %}

{% block body %}
<h1> Pobrane dane z pkt.pl </h1>
    <ol>
        {% for file in files %}
            <li><a href='{{ catalog|e }}/{{ file|e }}'>{{ file }}</a></li>
        {% endfor %}
    </ol>
    <br/><br/>
{% endblock %}