{% extends 'index.html.twig' %}

{% block body %}

<h1> Pobieranie kategorii z pkt.pl </h1>

Posiadasz już pobrane kategorie.<br/>
<br/>
Czy chcesz pobrać ponownie?<br/>
Spowoduje to usunięcie poprzenio pobranych.<br/><br/>
<a class="btn btn-primary" href="index.php?site=pfcategories&restart=ok">Start</a>
    <br/><br/>
{% endblock %}