{% extends 'index.html.twig' %}

{% block body %}
<h1> Instrukcja pobieranie danych z panoramy firm </h1>
    <ol>
        <li>Pobieramy kategorie</li>
        <li>Następnie pobieramy dane</li>
    </ol>
    <br/><br/>
{% endblock %}